@import '../../General';

.homePadre {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;

    .landing {
        width: 100%;
        height: 60vh;
        background: $greyLight;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        position: relative;

        .cont-logo {
            width: 100%;
            height: 60vh;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            background: url("/assets/img/fondo.jpg");
            background-size: cover;
            position: absolute;
            z-index: 0;
        }

        .logo {
            width: 50%;
            filter: blur(0);
            position: absolute;
        }
    }

    .aboutmeHome {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: space-between;

        .cont-description {
            width: 70%;
            height: 25em;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: flex-start;
            align-content: center;

            .description {
                width: 100%;
                height: 100%;
                background: $primary;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                align-content: center;
                padding: 3em;
                position: relative;

                h1 {
                    width: 60%;
                    font-weight: 700;
                    font-size: 3em;
                    color: $white;
                }

                p {
                    width: 60%;
                    font-weight: 400;
                    color: $white;
                }

                .infoAbout {
                    margin-top: 1em;
                    color: $black;
                    left: 0;

                    .burger-menu {
                        box-shadow: 0;
                    }

                    p {
                        width: 100%;
                        font-weight: 400;
                        color: $black;
                        text-align: center;
                    }
                }
            }

        }

        .cont-myImage {
            width: 30%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: center;

            img {
                width: 200px;
            }
        }
    }

    .viewProjects {
        width: 100%;
        padding: 3em 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;

        .cont-projects {
            width: 90%;
            height: 40vh;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            align-content: center;

            .cont-projectTitle {
                width: 20%;
                height: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-items: flex;
                align-content: center;

                .projectTitle {
                    width: 100%;
                    height: 40%;
                    background: $primary;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-items: center;
                    align-content: flex-end;
                    border-radius: 20px;
                    padding: 1em;

                    h1 {
                        font-weight: 800;
                        font-size: 4em;
                        line-height: 0.9em;
                        color: white;

                        span {
                            color: rgba(#000000, 0);
                        }
                    }
                }
            }

            .Projects {
                width: 85%;
                height: 100%;
                margin: 0 0 0 1em;
                overflow: auto;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                align-content: center;

                .otherProject {
                    width: 50%;
                    height: 95%;
                    min-width: 30%;
                    background: $white;
                    border-radius: 20px;
                    margin: 0.5em;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    box-shadow: 0 1px 4px rgba($greyLight, 0.8);

                    img {
                        width: 100%;
                        height: 30%;
                        border-radius: 20px 20px 0 0;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                    }

                    h2 {
                        height: 5em;
                        padding: 1.5em;
                        font-size: 2.5em;
                        text-align: center;
                    }

                    h3 {
                        padding: 1em;
                    }

                    .moreInfo {
                        position: absolute;
                        padding: 1em;
                        bottom: 0;
                        left: 0;
                        right: 0;

                        p {
                            width: 100%;
                            font-weight: 400;
                            color: $black;
                            text-align: center;
                        }
                    }

                }
            }
        }
    }
}

.burger-menu,
.burger-menu.open {
    background: #fff;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

/* Menu */
.info {
    width: 100%;
    display: block;
    text-align: center;
    padding: 0px;
}

.info ul {
    position: relative;
    top: 0px;
    font-size: 24px;
    padding: 0px;
}

.info li {
    list-style: outside none none;
    margin: 10px 0px;
    padding: 0;
    cursor: pointer;
}

.info li:hover {
    color: $primary;
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

/*@media (min-width: 1281px) {

    //CSS

}*/

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1661px) {
    .homePadre {
        .landing {
            height: 60vh;

            .logo {
                width: 50%;
            }
        }

        .aboutmeHome {
            flex-direction: column;
            justify-content: center;

            .cont-description {
                width: 100%;
                align-items: center;

                .description {
                    padding: 1.5em;

                    h1 {
                        width: 80%;
                        font-size: 3em;
                    }

                    p {
                        width: 80%;
                        font-weight: 400;
                        font-size: 1em;
                    }
                }
            }
        }

        .viewProjects {
            width: 100%;
            padding: 3em 0;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: center;

            .cont-projects {
                width: 90%;
                height: 40vh;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                align-content: center;

                .cont-projectTitle {
                    width: 20%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: flex-start;
                    align-items: flex;
                    align-content: center;

                    .projectTitle {
                        width: 100%;
                        height: 40%;
                        background: $primary;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: center;
                        align-items: center;
                        align-content: flex-end;
                        border-radius: 20px;
                        padding: 1em;

                        h1 {
                            font-weight: 800;
                            font-size: 3.2em;
                            line-height: 0.9em;
                            color: white;

                            span {
                                color: rgba(#000000, 0);
                            }
                        }
                    }
                }

                .Projects {
                    width: 85%;
                    height: 100%;
                    margin: 0 0 0 1em;
                    overflow: auto;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-items: center;
                    align-content: center;

                    .otherProject {
                        width: 50%;
                        height: 95%;
                        min-width: 40%;
                        background: $white;
                        border-radius: 20px;
                        margin: 0.5em;
                        display: flex;
                        flex-direction: column;
                        position: relative;
                        justify-content: center;
                        align-items: center;
                        align-content: center;
                        box-shadow: 0 1px 4px rgba($greyLight, 0.8);

                        img {
                            width: 100%;
                            height: 30%;
                            border-radius: 20px 20px 0 0;
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                        }

                        h2 {
                            height: 5em;
                            padding: 1.5em;
                            font-size: 2.5em;
                            text-align: center;
                        }

                        h3 {
                            padding: 1em;
                        }

                        .moreInfo {
                            position: absolute;
                            padding: 1em;
                            bottom: 0;
                            left: 0;
                            right: 0;

                            p {
                                width: 100%;
                                font-weight: 400;
                                color: $black;
                                text-align: center;
                            }
                        }

                    }
                }
            }
        }
    }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
    .homePadre {
        .landing {
            height: 40vh;

            .logo {
                width: 75%;
            }
        }

        .aboutmeHome {
            flex-direction: column;
            justify-content: center;

            .cont-description {
                width: 100%;
                align-items: center;

                .description {
                    padding: 1.5em;

                    h1 {
                        width: 80%;
                        font-size: 3em;
                    }

                    p {
                        width: 80%;
                        font-weight: 400;
                        font-size: 1em;
                    }
                }
            }
        }

        .viewProjects {
            margin: 1.5em 0;
            padding: 0;

            .cont-projects {
                height: 60vh;
                flex-direction: column;
                justify-content: center;

                .cont-projectTitle {
                    width: 90%;
                    height: 10em;

                    .projectTitle {
                        height: 100%;
                        padding: 1em;

                        h1 {
                            font-size: 3em;
                            line-height: 1em;
                        }
                    }
                }

                .Projects {
                    margin-top: 1.5em;
                    height: 90%;
                    width: 100%;

                    .otherProject {
                        min-width: 60%;
                        height: 35em;
                        margin: 1em;

                        h2 {
                            font-size: 2em;
                        }
                    }
                }
            }
        }
    }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    //CSS

}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 320px) and (max-width: 767px) {

    .homePadre {

        .landing {
            height: 30vh;

            .logo {
                width: 80%;
            }
        }

        .aboutmeHome {
            flex-direction: column;
            justify-content: center;

            .cont-description {
                width: 100%;
                align-items: center;

                .description {
                    padding: 1.5em;

                    h1 {
                        width: 80%;
                        font-size: 2em;
                    }

                    p {
                        width: 80%;
                        font-weight: 400;
                        font-size: 0.6em;
                    }
                }
            }
        }

        .viewProjects {
            margin: 1.5em 0;
            padding: 0;

            .cont-projects {
                height: 60vh;
                flex-direction: column;
                justify-content: center;

                .cont-projectTitle {
                    width: 90%;
                    height: 10em;

                    .projectTitle {
                        height: 100%;
                        padding: 1em;

                        h1 {
                            font-size: 3em;
                            line-height: 1em;
                        }
                    }
                }

                .Projects {
                    margin-top: 1.5em;
                    height: 60%;
                    width: 100%;

                    .otherProject {
                        min-width: 90%;
                        height: 25em;
                        margin: 1em;

                        h2 {
                            font-size: 2em;
                        }
                    }
                }
            }
        }
    }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

/*@media (min-width: 320px) and (max-width: 480px) {
    
    //CSS
    
  }*/